<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav class="blue darken-3" style="height: 10%;">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo">Chat Room</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">exit</a></li>
          </ul>
        </div>
    </nav>

    <div class="container main-body">
        <div class="chat-header">
            <h4 style="flex-grow: 1;">My Chat</h4>
             <a class="btn-floating btn-large waves-effect waves-light blue darken-3">
                 <i class="image material-icons">photo</i>
             </a>
        </div><hr>
        <div class="chat-body">
        </div>
        <div class="chat-footer">
            <div class="sender-content">
                <form action="">
                    <input type="text" id="msg" class="message" placeholder="Type Message...." name="message">
                    <input type="file" onchange="sendImage(this)" id="image" name="image" style="display: none;"
                    accept="image/*">
                    <button class="btn submit" style="background-color: #1565C0;height: 80%;width: 81px;">
                        <i class="material-icons">send</i>
                    </button>
                </form>

            </div>
        </div>
    </div>

    <footer class="page-footer blue darken-3" style="height: 12%;">
        <div class="footer-copyright">
          <div class="container">
              Copyright © 2023 - Designed by <a href="https://github.com/obansa">Sheriff Obansa</a>
          <a class="grey-text text-lighten-4 right" href="">exit room</a>
          </div>
        </div>
      </footer>
    <script>
        CHANNEL = '{{room_name}}'
        NAME = '{{username}}'
    </script>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

</body>
</html>